This exercise is to show how to load json contents into a table

In [ ]:
#http://apps.who.int/gho/data/node.resources.api

In [33]:
import requests
import pandas as pd 
import json

In [34]:
# grabbing data for the adolescent birth rate 'MDG_0000000003'    
A = requests.get('http://apps.who.int/gho/athena/api/GHO/MDG_0000000003.json')


#A.text.splitlines()

In [35]:
data = A.json()
data.keys()

[u'attribute', u'fact', u'dimension', u'copyright', u'dataset']

In [36]:
data['fact'][0]

{u'Dim': [{u'category': u'PUBLISHSTATE', u'code': u'PUBLISHED'},
  {u'category': u'REGION', u'code': u'EMR'},
  {u'category': u'YEAR', u'code': u'2009'},
  {u'category': u'GHO', u'code': u'MDG_0000000003'},
  {u'category': u'WORLDBANKINCOMEGROUP', u'code': u'WB_UMI'},
  {u'category': u'SEX', u'code': u'FMLE'},
  {u'category': u'COUNTRY', u'code': u'IRQ'}],
 u'comments': u'Survey 2011 MICS',
 u'dataset': u'CYCU',
 u'effective_date': u'2016-05-06',
 u'end_date': u'2900-12-31',
 u'fact_id': 13218565,
 u'published': True,
 u'value': {u'display': u'82.0',
  u'high': None,
  u'low': None,
  u'numeric': 82.0}}

In [ ]:
data['dimension']

In [37]:
facts.head()

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value
0,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Survey 2011 MICS,CYCU,2016-05-06,2900-12-31,13218565,True,"{u'high': None, u'display': u'82.0', u'numeric..."
1,"[{u'category': u'REGION', u'code': u'SEAR'}, {...",Census National Statistics,CYCU,2016-05-06,2900-12-31,13218531,True,"{u'high': None, u'display': u'0.7', u'numeric'..."
2,"[{u'category': u'SEX', u'code': u'FMLE'}, {u'c...",Survey 2011 DHS,CYCU,2016-05-06,2900-12-31,13218540,True,"{u'high': None, u'display': u'176.0', u'numeri..."
3,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Survey 2012 DHS,CYCU,2016-05-06,2900-12-31,13218547,True,"{u'high': None, u'display': u'115.0', u'numeri..."
4,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Survey 2013 DHS,CYCU,2016-05-06,2900-12-31,13218548,True,"{u'high': None, u'display': u'88.0', u'numeric..."

In [38]:
facts = data['fact']
facts = pd.DataFrame(facts)
facts.keys()

Index([u'Dim', u'comments', u'dataset', u'effective_date', u'end_date',
       u'fact_id', u'published', u'value'],
      dtype='object')

In [39]:
facts.value[0]

{u'display': u'82.0', u'high': None, u'low': None, u'numeric': 82.0}

In [40]:
#extracting numeric values from adolescent birth rate table data.fact.values

data2 = list(facts.value)
values = pd.DataFrame(data=data2)
values.head()

  display  high   low  numeric
0    82.0  None  None     82.0
1     0.7  None  None      0.7
2   176.0  None  None    176.0
3   115.0  None  None    115.0
4    88.0  None  None     88.0

In [42]:
facts.Dim[0]

[{u'category': u'PUBLISHSTATE', u'code': u'PUBLISHED'},
 {u'category': u'REGION', u'code': u'EMR'},
 {u'category': u'YEAR', u'code': u'2009'},
 {u'category': u'GHO', u'code': u'MDG_0000000003'},
 {u'category': u'WORLDBANKINCOMEGROUP', u'code': u'WB_UMI'},
 {u'category': u'SEX', u'code': u'FMLE'},
 {u'category': u'COUNTRY', u'code': u'IRQ'}]

In [53]:
# trying to extract the country codes out of the adolescent birth rate table data.fact.dim
data3 = list(facts.Dim)
dim = pd.DataFrame(data=data3) 
dim.head()

,0,1,2,3,4,5,6
0,"{u'category': u'PUBLISHSTATE', u'code': u'PUBL...","{u'category': u'REGION', u'code': u'EMR'}","{u'category': u'YEAR', u'code': u'2009'}","{u'category': u'GHO', u'code': u'MDG_0000000003'}","{u'category': u'WORLDBANKINCOMEGROUP', u'code'...","{u'category': u'SEX', u'code': u'FMLE'}","{u'category': u'COUNTRY', u'code': u'IRQ'}"
1,"{u'category': u'REGION', u'code': u'SEAR'}","{u'category': u'GHO', u'code': u'MDG_0000000003'}","{u'category': u'COUNTRY', u'code': u'PRK'}","{u'category': u'WORLDBANKINCOMEGROUP', u'code'...","{u'category': u'YEAR', u'code': u'2008'}","{u'category': u'SEX', u'code': u'FMLE'}","{u'category': u'PUBLISHSTATE', u'code': u'PUBL..."
2,"{u'category': u'SEX', u'code': u'FMLE'}","{u'category': u'WORLDBANKINCOMEGROUP', u'code'...","{u'category': u'YEAR', u'code': u'2010'}","{u'category': u'REGION', u'code': u'AFR'}","{u'category': u'PUBLISHSTATE', u'code': u'PUBL...","{u'category': u'COUNTRY', u'code': u'GNQ'}","{u'category': u'GHO', u'code': u'MDG_0000000003'}"
3,"{u'category': u'PUBLISHSTATE', u'code': u'PUBL...","{u'category': u'GHO', u'code': u'MDG_0000000003'}","{u'category': u'WORLDBANKINCOMEGROUP', u'code'...","{u'category': u'SEX', u'code': u'FMLE'}","{u'category': u'REGION', u'code': u'AFR'}","{u'category': u'COUNTRY', u'code': u'GAB'}","{u'category': u'YEAR', u'code': u'2009'}"
4,"{u'category': u'PUBLISHSTATE', u'code': u'PUBL...","{u'category': u'WORLDBANKINCOMEGROUP', u'code'...","{u'category': u'YEAR', u'code': u'2011'}","{u'category': u'GHO', u'code': u'MDG_0000000003'}","{u'category': u'SEX', u'code': u'FMLE'}","{u'category': u'COUNTRY', u'code': u'GMB'}","{u'category': u'REGION', u'code': u'AFR'}"

In [58]:
col_0 = list(dim[0])
dim_col_0=pd.DataFrame(data=col_0)
dim_col_0.head()

               category            code
0                REGION             EMR
1                   GHO  MDG_0000000003
2  WORLDBANKINCOMEGROUP           WB_HI
3                   GHO  MDG_0000000003
4  WORLDBANKINCOMEGROUP           WB_LI

In [59]:
col_1 = list(dim[1])
dim_col_1=pd.DataFrame(data=col_1)
dim_col_1.head()

               category            code
0                REGION             EMR
1                   GHO  MDG_0000000003
2  WORLDBANKINCOMEGROUP           WB_HI
3                   GHO  MDG_0000000003
4  WORLDBANKINCOMEGROUP           WB_LI

In [60]:
col_2 = list(dim[2])
dim_col_2=pd.DataFrame(data=col_2)
dim_col_2.head()

               category    code
0                  YEAR    2009
1               COUNTRY     PRK
2                  YEAR    2010
3  WORLDBANKINCOMEGROUP  WB_UMI
4                  YEAR    2011

In [68]:
col_3 = list(dim[3])
dim_col_3=pd.DataFrame(data=col_3)
dim_col_3.head()

               category            code
0                   GHO  MDG_0000000003
1  WORLDBANKINCOMEGROUP           WB_LI
2                REGION             AFR
3                   SEX            FMLE
4                   GHO  MDG_0000000003

In [67]:
col_4 = list(dim[4])
dim_col_4=pd.DataFrame(data=col_4)
dim_col_4.head()

               category       code
0  WORLDBANKINCOMEGROUP     WB_UMI
1                  YEAR       2008
2          PUBLISHSTATE  PUBLISHED
3                REGION        AFR
4                   SEX       FMLE

In [80]:
col_5 = list(dim[5])
dim_col_5 = pd.DataFrame(data = col_5)

AttributeError: 'NoneType' object has no attribute 'keys'

In [65]:
col_6 = list(dim[6])
dim_col_6=pd.DataFrame(data=col_6)
dim_col_6.head()

AttributeError: 'NoneType' object has no attribute 'keys'