This notebook is for exploration of WHO data with a link to WHO/GHO API resources below

In [40]:
#http://apps.who.int/gho/data/node.resources.api

In [2]:
import requests
import pandas as pd 
import json

In [3]:
# grabbing data for the adolescent birth rate 'MDG_0000000003'    
B = requests.get('http://apps.who.int/gho/athena/api/GHO/MDG_0000000003.json')

In [4]:
#Converting data into json format
data = B.json()
data.keys()

[u'attribute', u'fact', u'dimension', u'copyright', u'dataset']

In [5]:
#numeric values for adolescent brith rate are contained in data['fact'], making a data frame for this key in 'data'

In [6]:
data['fact'][1]

{u'Dim': [{u'category': u'PUBLISHSTATE', u'code': u'PUBLISHED'},
  {u'category': u'YEAR', u'code': u'2012'},
  {u'category': u'COUNTRY', u'code': u'BOL'},
  {u'category': u'SEX', u'code': u'FMLE'},
  {u'category': u'GHO', u'code': u'MDG_0000000003'},
  {u'category': u'WORLDBANKINCOMEGROUP', u'code': u'WB_LMI'},
  {u'category': u'REGION', u'code': u'AMR'}],
 u'comments': u'Census National Statistics',
 u'dataset': u'CYCU',
 u'effective_date': u'2016-05-06',
 u'end_date': u'2900-12-31',
 u'fact_id': 13218505,
 u'published': True,
 u'value': {u'display': u'115.6',
  u'high': None,
  u'low': None,
  u'numeric': 115.6}}

In [7]:
facts = data['fact']
facts = pd.DataFrame(facts)
facts.keys()

Index([u'Dim', u'comments', u'dataset', u'effective_date', u'end_date',
       u'fact_id', u'published', u'value'],
      dtype='object')

In [8]:
facts.head()

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value
0,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Survey 2014 DHS,CYCU,2016-05-06,2900-12-31,13218498,True,"{u'high': None, u'display': u'113.0', u'numeri..."
1,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Census National Statistics,CYCU,2016-05-06,2900-12-31,13218505,True,"{u'high': None, u'display': u'115.6', u'numeri..."
2,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Estimate National statistics,CYCU,2016-05-06,2900-12-31,13218508,True,"{u'high': None, u'display': u'64.8', u'numeric..."
3,"[{u'category': u'GHO', u'code': u'MDG_00000000...",Survey 2014 DHS,CYCU,2016-05-06,2900-12-31,13218514,True,"{u'high': None, u'display': u'57.0', u'numeric..."
4,"[{u'category': u'GHO', u'code': u'MDG_00000000...",Registration National Statistics,CYCU,2016-05-06,2900-12-31,13218516,True,"{u'high': None, u'display': u'12.6', u'numeric..."

In [9]:
facts.value[0]

{u'display': u'113.0', u'high': None, u'low': None, u'numeric': 113.0}

In [10]:
#extracting numeric values from adolescent birth rate table data.fact.values

data2 = list(facts.value)
values = pd.DataFrame(data=data2)
values.head()

  display  high   low  numeric
0   113.0  None  None    113.0
1   115.6  None  None    115.6
2    64.8  None  None     64.8
3    57.0  None  None     57.0
4    12.6  None  None     12.6

In [11]:
facts.Dim[0]

[{u'category': u'PUBLISHSTATE', u'code': u'PUBLISHED'},
 {u'category': u'SEX', u'code': u'FMLE'},
 {u'category': u'WORLDBANKINCOMEGROUP', u'code': u'WB_LMI'},
 {u'category': u'REGION', u'code': u'SEAR'},
 {u'category': u'GHO', u'code': u'MDG_0000000003'},
 {u'category': u'COUNTRY', u'code': u'BGD'},
 {u'category': u'YEAR', u'code': u'2013'}]

In [12]:
#extracting country code and year from the dimension column 


def extract(A):
    for A in foo:
        if A['category'] == 'COUNTRY':
            return A['code'] 
    
facts['COUNTRY'] = [extract(foo) for foo in facts ['Dim']]

def extract(A):
    for A in foo:
        if A['category'] == 'YEAR':
            return A['code'] 
    
facts['YEAR'] = [extract(foo) for foo in facts ['Dim']]
           
AdolBR = pd.concat([facts, values], axis=1)
AdolBR.head()

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value,COUNTRY,YEAR,display,high,low,numeric
0,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Survey 2014 DHS,CYCU,2016-05-06,2900-12-31,13218498,True,"{u'high': None, u'display': u'113.0', u'numeri...",BGD,2013,113.0,None,None,113.0
1,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Census National Statistics,CYCU,2016-05-06,2900-12-31,13218505,True,"{u'high': None, u'display': u'115.6', u'numeri...",BOL,2012,115.6,None,None,115.6
2,"[{u'category': u'PUBLISHSTATE', u'code': u'PUB...",Estimate National statistics,CYCU,2016-05-06,2900-12-31,13218508,True,"{u'high': None, u'display': u'64.8', u'numeric...",BRA,2011,64.8,None,None,64.8
3,"[{u'category': u'GHO', u'code': u'MDG_00000000...",Survey 2014 DHS,CYCU,2016-05-06,2900-12-31,13218514,True,"{u'high': None, u'display': u'57.0', u'numeric...",KHM,2013,57.0,None,None,57.0
4,"[{u'category': u'GHO', u'code': u'MDG_00000000...",Registration National Statistics,CYCU,2016-05-06,2900-12-31,13218516,True,"{u'high': None, u'display': u'12.6', u'numeric...",CAN,2011,12.6,None,None,12.6

In [13]:
#checking rows for alignment 

"""AdolBR.iloc[30]
AdolBR.iloc[30][0]

AdolBR.iloc[100]
AdolBR.iloc[100][0]

AdolBR.iloc[188]
AdolBR.iloc[188][0]"""

'AdolBR.iloc[30]\nAdolBR.iloc[30][0]\n\nAdolBR.iloc[100]\nAdolBR.iloc[100][0]\n\nAdolBR.iloc[188]\nAdolBR.iloc[188][0]'

In [14]:
#deleting unecessary feature columns, changing names and index  
AdolBR.drop(['Dim', 'comments', 'dataset', 'effective_date', 'end_date', 'published', 'value', 'display'], axis=1, inplace=True)
AdolBR = AdolBR.rename(columns = {'COUNTRY' : 'ISO'})

In [15]:
indexed_AdolBR = AdolBR.set_index(['ISO'])
indexed_AdolBR.head()

      fact_id  YEAR  high   low  numeric
ISO
BGD  13218498  2013  None  None    113.0
BOL  13218505  2012  None  None    115.6
BRA  13218508  2011  None  None     64.8
KHM  13218514  2013  None  None     57.0
CAN  13218516  2011  None  None     12.6

In [16]:
#country names are contained in data['dimension'], the following cells extract the country names

In [17]:
#dimension data exploration

'''dimension = data['dimension']

for foo in dimension:
    if foo['label'] == "COUNTRY":
        print foo
        
dimension = data['dimension']
for foo in dimension:
    if foo['label'] == "COUNTRY":
        print foo.keys()
        
dimension = data['dimension']
for foo in dimension:
    for boo in foo['code']: 
        print boo.keys() '''

'dimension = data[\'dimension\']\n\nfor foo in dimension:\n    if foo[\'label\'] == "COUNTRY":\n        print foo\n        \ndimension = data[\'dimension\']\nfor foo in dimension:\n    if foo[\'label\'] == "COUNTRY":\n        print foo.keys()\n        \ndimension = data[\'dimension\']\nfor foo in dimension:\n    for boo in foo[\'code\']: \n        print boo.keys() '

In [18]:
#creating a country and label data frame 
dimension = data['dimension']
country = {
        
    }

for foo in dimension:
    for boo in foo['code']:
        ISO = None
        display = boo['display']
        for loo in boo['attr']:
            if loo['category'] == 'ISO': 
                ISO = loo['value']
        country[ISO] = display    

print country

{u'DZA': u'Algeria', u'AGO': u'Angola', u'EGY': u'Egypt', u'BGD': u'Bangladesh', u'NER': u'Niger', u'QAT': u'Qatar', u'NAM': u'Namibia', u'BGR': u'Bulgaria', u'BOL': u'Bolivia (Plurinational State of)', u'GHA': u'Ghana', u'PAK': u'Pakistan', u'CPV': u'Cabo Verde', u'JOR': u'Jordan', u'LBR': u'Liberia', u'LBY': u'Libya', u'MYS': u'Malaysia', u'PRK': u"Democratic People's Republic of Korea", u'TZA': u'United Republic of Tanzania', u'BWA': u'Botswana', u'KHM': u'Cambodia', u'TTO': u'Trinidad and Tobago', u'PRY': u'Paraguay', u'SAU': u'Saudi Arabia', u'LBN': u'Lebanon', u'SVN': u'Slovenia', u'BFA': u'Burkina Faso', u'SVK': u'Slovakia', u'MRT': u'Mauritania', u'HRV': u'Croatia', u'CHL': u'Chile', u'CHN': u'China', u'KNA': u'Saint Kitts and Nevis', u'JAM': u'Jamaica', u'SMR': u'San Marino', u'DJI': u'Djibouti', u'GIN': u'Guinea', u'FIN': u'Finland', u'URY': u'Uruguay', u'THA': u'Thailand', u'SYC': u'Seychelles', u'NPL': u'Nepal', u'LAO': u"Lao People's Democratic Republic", u'YEM': u'Yemen', u'PHL': u'Philippines', u'ZAF': u'South Africa', u'KIR': u'Kiribati', u'TGO': u'Togo', u'SYR': u'Syrian Arab Republic', u'NIC': u'Nicaragua', u'MLT': u'Malta', u'KAZ': u'Kazakhstan', u'NIU': u'Niue', u'DMA': u'Dominica', u'BEN': u'Benin', u'NGA': u'Nigeria', u'BEL': u'Belgium', u'DEU': u'Germany', u'LKA': u'Sri Lanka', u'GBR': u'United Kingdom of Great Britain and Northern Ireland', u'GUY': u'Guyana', u'CRI': u'Costa Rica', u'COK': u'Cook Islands', u'MAR': u'Morocco', u'LSO': u'Lesotho', u'HUN': u'Hungary', u'TKM': u'Turkmenistan', u'SUR': u'Suriname', u'NLD': u'Netherlands', u'TCD': u'Chad', u'GEO': u'Georgia', u'ROU': u'Romania', u'MNG': u'Mongolia', u'MHL': u'Marshall Islands', u'BLZ': u'Belize', u'MMR': u'Myanmar', u'AFG': u'Afghanistan', u'BDI': u'Burundi', u'BLR': u'Belarus', u'GRD': u'Grenada', u'GRC': u'Greece', u'MNE': u'Montenegro', u'AND': u'Andorra', u'MOZ': u'Mozambique', u'TJK': u'Tajikistan', u'HTI': u'Haiti', u'MEX': u'Mexico', u'ZWE': u'Zimbabwe', u'LCA': u'Saint Lucia', u'IND': u'India', u'LVA': u'Latvia', u'BTN': u'Bhutan', u'VCT': u'Saint Vincent and the Grenadines', u'VNM': u'Viet Nam', u'NOR': u'Norway', u'CZE': u'Czech Republic', u'ATG': u'Antigua and Barbuda', u'FJI': u'Fiji', u'HND': u'Honduras', u'MUS': u'Mauritius', u'DOM': u'Dominican Republic', u'LUX': u'Luxembourg', u'ISR': u'Israel', u'FSM': u'Micronesia (Federated States of)', u'PER': u'Peru', u'IDN': u'Indonesia', u'VUT': u'Vanuatu', u'MKD': u'The former Yugoslav republic of Macedonia', u'COD': u'Democratic Republic of the Congo', u'COG': u'Congo', u'ISL': u'Iceland', u'ETH': u'Ethiopia', u'COM': u'Comoros', u'COL': u'Colombia', u'PRT': u'Portugal', u'MDA': u'Republic of Moldova', u'STP': u'Sao Tome and Principe', u'MDG': u'Madagascar', u'ECU': u'Ecuador', u'SEN': u'Senegal', u'MDV': u'Maldives', u'SRB': u'Serbia', u'FRA': u'France', u'LTU': u'Lithuania', u'RWA': u'Rwanda', u'ZMB': u'Zambia', u'GMB': u'Gambia', u'GTM': u'Guatemala', u'DNK': u'Denmark', u'UKR': u'Ukraine', u'AUS': u'Australia', u'AUT': u'Austria', u'VEN': u'Venezuela (Bolivarian Republic of)', u'PLW': u'Palau', u'KEN': u'Kenya', u'TUR': u'Turkey', u'ALB': u'Albania', u'OMN': u'Oman', u'TUV': u'Tuvalu', u'ITA': u'Italy', u'BRN': u'Brunei Darussalam', u'TUN': u'Tunisia', u'RUS': u'Russian Federation', None: u'Female', u'BRB': u'Barbados', u'BRA': u'Brazil', u'CIV': u"Cote d'Ivoire", u'TLS': u'Timor-Leste', u'GNQ': u'Equatorial Guinea', u'USA': u'United States of America', u'WSM': u'Samoa', u'AZE': u'Azerbaijan', u'GNB': u'Guinea-Bissau', u'SWZ': u'Swaziland', u'TON': u'Tonga', u'CAN': u'Canada', u'KOR': u'Republic of Korea', u'CAF': u'Central African Republic', u'CHE': u'Switzerland', u'CYP': u'Cyprus', u'BIH': u'Bosnia and Herzegovina', u'SGP': u'Singapore', u'SOM': u'Somalia', u'UZB': u'Uzbekistan', u'CMR': u'Cameroon', u'POL': u'Poland', u'KWT': u'Kuwait', u'ERI': u'Eritrea', u'GAB': u'Gabon', u'ARE': u'United Arab Emirates', u'EST': u'Estonia', u'MWI': u'Malawi', u'ESP': u'Spain', u'IRQ': u'Iraq', u'SLV': u'El Salvador', u'MLI': u'Mali', u'IRL': u'Ireland', u'IRN': u'Iran (Islamic Republic of)', u'SSD': u'South Sudan', u'SLE': u'Sierra Leone', u'PAN': u'Panama', u'SDN': u'Sudan', u'SLB': u'Solomon Islands', u'NZL': u'New Zealand', u'JPN': u'Japan', u'KGZ': u'Kyrgyzstan', u'UGA': u'Uganda', u'PNG': u'Papua New Guinea', u'ARG': u'Argentina', u'SWE': u'Sweden', u'BHS': u'Bahamas', u'BHR': u'Bahrain', u'ARM': u'Armenia', u'NRU': u'Nauru', u'CUB': u'Cuba'}

In [19]:
cntryNames = pd.DataFrame(country.items(), columns=['ISO', 'COUNTRY'])
cntryNames.shape

(194, 2)

In [20]:
#concat the cntry names to the adolBR dataframe 
def name(x):
    for b in country:
        if x == b:
            return country[b]

AdolBR['COUNTRY'] = [name(a) for a in AdolBR['ISO']]
ABR = AdolBR
ABR.head()

ABR.drop(['high', 'low'], axis=1, inplace=True)
ABR = ABR.rename(columns = {'numeric' : 'ABR'})
ABR.head()

    fact_id  ISO  YEAR    ABR                           COUNTRY
0  13218498  BGD  2013  113.0                        Bangladesh
1  13218505  BOL  2012  115.6  Bolivia (Plurinational State of)
2  13218508  BRA  2011   64.8                            Brazil
3  13218514  KHM  2013   57.0                          Cambodia
4  13218516  CAN  2011   12.6                            Canada

In [21]:
# In[ ]:
null_data = ABR[ABR.isnull().any(axis=1)]
print null_data

      fact_id   ISO  YEAR    ABR COUNTRY
31   13218680  None  2015   51.7  Female
48   13218684  None  2015   15.3  Female
85   13218681  None  2015   46.1  Female
86   13218682  None  2015   17.6  Female
87   13218683  None  2015   33.9  Female
129  13218679  None  2015  100.3  Female
141  13218678  None  2015   44.1  Female

In [22]:
#spare code for investigating API
# A.headers
# A.status_code
# A.text
#AdolBR = pd.DataFrame.from_dict(A.json(), orient = index)
#print AdolBR
#from pandas.io.json import json_normalize
#df =json_normalize(data['fact'])

#spare code for for loops: 
#for foo in facts.Dim:
#    for boo in foo:
#       if boo['category'] == 'COUNTRY':
#    country[foo[4]['category']] = foo[4]['code']
#    print country 
#facts.Dim[0][4]['category']
#facts.Dim[0][4]['code']        
#facts.Dim[0][4]